<h1>Volunteer Project Manager</h1>

<h2>Current Projects</h2>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects in production.</p>
<% end %>

<a href="/projects/new">Add a new project</a>
